streamlit

langchain
langchain-core
langchain-community
langchain-classic
langchain-google-genai
langchain-huggingface
langchain-text-splitters

sentence-transformers
transformers
torch

faiss-cpu
rank-bm25

google-generativeai
python-dotenv

PyMuPDF
pypdf
python-docx
docx2txt

numpy